.contact {
  display: block;
  position: relative;
  padding-top: 12%;
  padding-bottom: 20%;
  background: rgb(33 41 53);
  color: white;
  text-align: center;
  margin-top: 200px;
}

.join-team {
  margin: 30px auto;
}

.join-team__info {
  line-height: 28px;
  font-size: 18px;
}
