footer {
    position: relative;
    padding-top: 1em;
    /* background-color: rgb(25, 25, 75); */
    background-color: rgb(4 28 65);
    color: #ff2671;
    border: 0;
    border-top: 1.5px solid #ff2671;
}

hr {
    border-top: 1.5px solid #bbb;
    margin: 0;
}

footer div {
    text-align: center;
    padding-bottom: 20px;
}

footer .author {
    text-align: center;
    font-weight: bold;
}

#social-media {
    font-size: 2em;
    margin: 0;
}

#name {
    font-size: 1em;
    margin-top: 3px;
    margin-bottom: 0;
}