footer {
  position: relative;
  padding-top: 1em;
  background-color: #2e489b;
  color: #fff;
  border: 0;
  border-top: 1.5px solid #78c3f5;
}

hr {
  border-top: 1.5px solid #bbb;
  margin: 0;
}

footer div {
  text-align: center;
  padding-bottom: 20px;
}

footer .author {
  text-align: center;
}

#social-media {
  font-size: 2em;
  margin: 0;
}

#name {
  font-size: 1em;
  margin-top: 3px;
  margin-bottom: 0;
}
