html {
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  background-color: rgb(255, 255, 255);
}

a {
  color: inherit;
  text-decoration: none;
}

.banner {
  height: 120vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 8em 10em 0 10em;
  background-image: url("../media/starfall.gif");
  /* background-image: url(../media/sfcgva.JPG); */
  background-size: cover;
  color: white;
}

img.media {
  height: 350px;
  border-radius: 50%;
  opacity: 0.75;
}

.banner h1 {
  padding-top: 2.5em;
  font-size: 25pt;
}

#william {
  color: #ff2671;
}

.about {
  position: relative;
  background-color: rgb(51 49 50 / 9%);
  padding-top: 10em;
  padding-bottom: 2em;
}

.headline {
  text-align: center;
}

.content-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  margin: 4em 10em;
}

.content-grid > p {
  font-size: 11pt;
}

.content-grid-1 {
  margin-top: 4em;
  margin-right: 2em;
  width: 110%;
}

.content-grid-2 {
  margin-left: 10em;
}

.content-grid-3,
.content-grid-4 {
  position: relative;
  margin-top: 2em;
}

.content-grid-3 #key-skills,
.content-grid-4 #languages {
  text-align: center;
}

.content-grid-3 .skills {
  position: relative;
  margin-left: -25px;
}

.content-grid-3 .skills.fade-right {
  /* Enable hardware acceleration to fix laggy transitions */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  animation: fadein-right 0.8s linear;
}

@keyframes fadein-right {
  from {
    opacity: 0;
    left: -43em;
  }
  to {
    opacity: 1;
    left: 0;
  }
}

.content-grid-3 li {
  margin-bottom: 5px;
}

.content-grid-4 .tech-stack {
  position: relative;
  text-align: center;
}

.content-grid-4 .tech-stack.fade-left {
  /* Enable hardware acceleration to fix laggy transitions */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  animation: fadein-left 0.8s linear;
}

@keyframes fadein-left {
  from {
    opacity: 0;
    right: -50em;
  }
  to {
    opacity: 1;
    right: 0;
  }
}

.content-grid-4 .tech {
  cursor: pointer;
  transition: all 0.4s;
}

.content-grid-4 .tech:hover {
  text-decoration: underline;
  text-decoration-color: #ff2671;
}

.white-arrow {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.white-arrow span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid #fff;
  border-right: 5px solid #fff;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

.blue-arrow span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid rgb(4, 21, 99);
  border-right: 5px solid rgb(4, 21, 99);
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

.white-arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.white-arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

.blue-arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.blue-arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
